* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 5px solid cornflowerblue; */
    border-radius: 10px;
}

.header_left {
    margin: 20px;
    text-align: left;
}


/* .header_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article {
    /* background-color: #404040; */
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgba(252,70,107,1) 15%, rgba(63,94,251,1) 100%);
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

/* button {
    background: rgb(95,87,218);
    background: linear-gradient(90deg, rgba(95,87,218,1) 0%, rgba(19,19,225,1) 0%, rgba(0,212,255,1) 100%);
} */

img {
    width: 400px;
}

body {
    text-align: center;
    /* background: rgb(95,87,218);
    background: linear-gradient(90deg, rgba(95,87,218,1) 0%, rgba(19,19,225,1) 32%, rgba(0,212,255,1) 100%); */
    background: rgb(215,215,255);
    background: linear-gradient(90deg, rgba(215,215,255,1) 0%, rgba(215,215,255,1) 35%, rgba(215,215,255,1) 100%);
}

article {
    width:fit-content;
}

h1 {
    color:dodgerblue;
    text-shadow: 2px 2px white;
}

h2, h3 {
    text-align: left;
    margin: 10px;
}

h2 {
    color: #c5d78a;
}

h3, p {
    color: #e7e9d8;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.time {
    text-align: left;
}

.location {
    text-align: right;
}