* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

.header {
    display: grid;
    grid-template-columns: 2fr 7fr;
    border: 5px solid rgb(255, 99, 219);
    border-radius: 10px;
}

.header_left {
    margin: 20px;
    text-align: left;
}

.header ul {
    list-style-type: none;
}

.header li {
    display: inline;
    margin: 20px;
}
.header_right {
    text-align: right;
}

.header_right ul {
    margin-top: 60px;
    padding: 0;
}

.header_right ul li button {
    display: inline-block;
}

.header_ul li a {
    color: slateblue;
    font-size: 20px;
}

.signup_button_div {
    display: inline;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.signup_button_div:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

#signup_button {
    color: #FFFFFF;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 970px) {
.header {
    display: block;
}
.header_left, .header_right {
    text-align: center;
}
.header li {
    display: block;
}
.main {
    grid-template-columns: 1fr;
    width: fit-content;
    margin: auto;
}

article {
    margin: auto;
}

.signup_button_div {
    display: inline-block;
    width: fit-content;
    margin: auto;
}

} 

body h2 {
    text-align: center;
}

body a {
    text-decoration: none;
    color: cornsilk;
}

.directory_link {
    color: #000;
    text-decoration: underline;
}

.create_new_button {
    
    margin: 15px auto;
    border: 2px solid cornsilk;
    border-radius: 10px;
    width: fit-content;
    background: rgb(95,87,218);
    background: linear-gradient(90deg, rgba(95,87,218,1) 0%, rgba(19,19,225,1) 0%, rgba(0,212,255,1) 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.create_new_button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

article {
    /* background-color: #404040; */
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgba(252,70,107,1) 15%, rgba(63,94,251,1) 100%);
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

/* button {
    background: rgb(95,87,218);
    background: linear-gradient(90deg, rgba(95,87,218,1) 0%, rgba(19,19,225,1) 0%, rgba(0,212,255,1) 100%);
} */

img {
    width: 400px;
    height: 225px;
}

body {
    text-align: center;
    /* background: rgb(95,87,218);
    background: linear-gradient(90deg, rgba(95,87,218,1) 0%, rgba(19,19,225,1) 32%, rgba(0,212,255,1) 100%); */
    background: rgb(215,215,255);
    background: linear-gradient(90deg, rgba(142 142 237) 0%, rgba(215,215,255,1) 35%, rgba(215,215,255,1) 100%);
}

article {
    width:fit-content;
    width: 400px;
}

h1 {
    color:dodgerblue;
    text-shadow: 2px 2px white;
    font-size: 50px;
}

h2, h3 {
    text-align: left;
    margin: 10px;
}

#create_new_button a {
    text-shadow: none;
    color: cornsilk;
}

#login_text, #signup_text {
    color:dodgerblue;
    text-shadow: 2px 2px white;
} 

h3, p {
    color: #e7e9d8;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.number_joined, .location {
    color: cornsilk;
}

.number_joined {
    text-align: left;
}

.location {
    text-align: right;
}

.input_div, .about, .contact-us {
    border: 5px solid cornsilk;
    border-radius: 10px;
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
}

.input_div input, .about input, .contact-us input {
    margin: 10px;
}

.input_div button {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.input_div button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p {
    color: black;
}

.short_description {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
