<div class="about">
    <h2>About</h2>
    <p class="p-about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione itaque repellat alias blanditiis! Consequuntur, est sint perspiciatis tempora rem deleniti earum deserunt odio aliquam architecto, numquam molestiae eligendi itaque eius. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi doloribus tenetur porro provident officiis saepe repellendus commodi eos! Itaque fugit ducimus veritatis ratione, est deserunt quo recusandae voluptatibus excepturi molestias!</p>
</div>