<h2><%= event.title %></h2>
<p><%= event.description %></p>

<% if(event.user_id == sessionId) { %>
    <p><a href="/edit_event/<%= event.id %>">Edit Event</a></p>

<% } %>

<form action="/count_in">
    <input type="hidden" name="event.id" value="<%= event.id %>">
    <button>Count me in!</button>
</form>