<h2><%= event.title %></h2>
<p><%= event.description %></p>

<form action="/count_in">
    <input type="hidden" name="event.id">
    <!-- <input type="hidden" name="user.id"> -->

    <button>Count me in!</button>
</form>